body {
    font-family: Avenir;
}
//MAIN BANNER SECTIONS
.main-mobile-banner {
    background-color: var(--grey-light);
    height: calc(100vh - 135px);
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @media #{$lg} {
        display: none;
    }
    .mobile-logo {
        margin-bottom: 30px;
    }
}
.mobile-logo {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 2rem;
    padding: 15px;
}
.app-store-btn {
    max-width: 150px;
}
/*MAIN HEADER*/
.main-banner {
    padding: 30px 0;
    background: white;
    overflow: hidden;
    position: relative;
    @media #{$md} {
        padding: 100px 0;
    }
    @media #{$lg} {
        height: calc(100vh - 60px);
        max-height: 900px;
    }
    .row-grid {
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 60;
        justify-content: center;
        align-items: center;
        @media #{$md} {
            grid-template-columns: 40% repeat(1, minmax(100px, 1fr));
            grid-gap: 100px;
        }
        @media #{$lg} {
            grid-template-columns: 1fr 350px;
            grid-gap: 200px;
        }
    }
    .container {
        @media #{$md} {
            overflow: visible;
        }
    }
    header {
        margin-bottom: 60px;
        order: 2;
        text-align: center;
        @media #{$md} {
            margin-bottom: 0px;
            text-align: left;
            order: 0;
        }
    }
    h1 {
        font-size: 7vh;
        color: var(--blue-light);
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 2px;
        @media #{$md} {
            font-size: 4.5em;
        }
    }
    span {
        color: var(--pink);
    }
}
@keyframes c {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}
.scroll-down {
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    margin: auto;
    width: 30px;
    transform: translateY(0);
    animation: c 600ms infinite alternate;
}

.mobile--container {
    margin: auto;
}
.mobile--outer-wrapper {
    border-radius: 40px;
    box-shadow: 0px 11px 61px #a9a9a9;
    overflow: hidden;
    position: relative;
    width: 230px;
    background: linear-gradient(180deg, #fff -45.17%, rgba(255, 255, 255, 0) 130.21%), #FAFBFC;
    box-shadow: 0 0.5px 2px rgba(0, 18, 57, .1), 0 11px 17px rgba(0, 18, 57, .09), inset 0 -3px 20px rgba(0, 18, 57, .1), inset 0 8px 13px #fff, inset 0 0 7px rgba(0, 18, 57, .05);
    padding: 10px;
    margin: 20px auto;
    @media #{$md} {
        width: 310px;
        margin: 0;
    }
}
.mobile--inner-wrapper {
    border-radius: 36px;
    overflow: hidden;
    box-shadow: rgba(204, 208, 215, .5) 0 0 2px;
    -webkit-mask: url(../img/border-radius.png);
    mask: url(../img/border-radius.png);
        -webkit-mask-size: cover;
        -webkit-mask-position: 50%;
}
video {
    display: block;
    width: 100%;
}

/*Press Section*/
.section-logos {
    background-color: var(--grey-light);
    padding: 60px 0;
    text-align: center;
}
.section-logos h2 {
    font-weight: bold;
    margin-bottom: 30px;
}
.logo-items {
    display: flex;
    flex-direction: column;
    @media #{$md} {
        flex-direction: row;
    }
}
.logo-item {
    padding: 30px;
    @media #{$md} {
        padding: 30px;
    }
}
.logo-item img {
    max-width: 100%;
}

/*Video Section*/
.person-left {
    position: absolute;
    top: 120px;
    left: 15px;
    width: 260px;
    z-index: 23;
    .puzzle-pieces {
        top: 0px;
        left: 45px;
    }
}
.person-right {
    position: absolute;
    top: 120px;
    right: 15px;
    width: 260px;
    z-index: 23;
    .puzzle-pieces {
        top: 34px;
        right: 120px;
    }
}
.puzzle-pieces {
    position: absolute;
    transform: scale(0.35) rotateZ(5deg);
}
img[class*="puzzle-piece-"] {
    position: absolute;
}
@keyframes example {
    from {transform: scale(1)}
    to {transform: scale(0)}
}
/*  First Row  */
.puzzle-piece-1 { left: 0px; top: 0px; animation: example 600ms 600ms infinite forwards alternate;}
.puzzle-piece-2 { left: 60px; top: 0px; animation: example 600ms calc(600ms*5) infinite forwards alternate;}
.puzzle-piece-3 { left: 100px; top: 0px; animation: example 600ms calc(600ms*7) infinite forwards alternate;}
.puzzle-piece-4 { left: 180px; top: 0px; animation: example 600ms calc(600ms*11) infinite forwards alternate;}

/*  Second Row  */
.puzzle-piece-5 { left: 0px; top: 43px; animation: example 600ms calc(600ms*16) forwards alternate;}
.puzzle-piece-6 { left: 41px; top: 65px; animation: example 600ms calc(600ms*2) forwards alternate;}
.puzzle-piece-7 { left: 118px; top: 45px; animation: example 600ms calc(600ms*8) forwards alternate;}
.puzzle-piece-8 { left: 162px; top: 64px; animation: example 600ms calc(600ms*10) forwards;}

/*  Third Row  */
.puzzle-piece-9 { left: 0px; top: 127px; animation: example 600ms calc(600ms*13) forwards;}
.puzzle-piece-10 { left: 58px; top: 104px; animation: example 600ms calc(600ms*6) forwards;}
.puzzle-piece-11 { left: 100px; top: 122px; animation: example 600ms calc(600ms*12) forwards;}
.puzzle-piece-12 { left: 178px; top: 107px; animation: example 600ms calc(600ms*15) forwards;}

/*  Fourth Row  */
.puzzle-piece-13 { left: 0px; top: 168px; animation: example 600ms calc(600ms*4) forwards;}
.puzzle-piece-14 { left: 42px; top: 187px; animation: example 600ms calc(600ms*9) forwards;}
.puzzle-piece-15 { left: 119px; top: 167px; animation: example 600ms calc(600ms*14) forwards;}
.puzzle-piece-16 { left: 162px; top: 187px; animation: example 600ms calc(600ms*3) forwards;}


.section-video {
    padding: 60px 0;
    img {
        display: none;
        @media #{$md} {
            display: block;
        }
    }
}

.video-container {
    width: 100%;
    margin: auto;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0.5px 2px rgba(0, 18, 57, .1), 0 11px 17px rgba(0, 18, 57, .09), inset 0 -3px 20px rgba(0, 18, 57, .1), inset 0 8px 13px #fff, inset 0 0 7px rgba(0, 18, 57, .05);
    @media #{$md} {
        width: 900px;
    }
}

/*End of page*/
.section-end {
    padding: 60px 0;
    background-color: var(--grey-light);
    display: none;
    @media #{$lg} {
        display: block;
    }
    .row-grid {
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 60px;
        justify-content: center;
        align-items: center;
        text-align: center;
        @media #{$md} {
            text-align: left;
            grid-template-columns: 200px 600px;
            grid-gap: 100px;
        }
    }
    .logo {
        width: 250px;
        margin: auto;
        @media #{$md} {
            margin: 0
        }
    }
}

/*Footer*/
footer {
    padding: 60px;
    position: relative;
    &:before {
        content: "";
        display: block;
        height: 2px;
        width: 100%;
        background: url(https://jigtalk.com/wp-content/themes/jigtalk-co/dist/images/images/navigation-border.png);
        background-size: 50%;
        position: absolute;
        top: 0;
        left: 0;
    }
    ul {
        justify-content: center;
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
        @media #{$md} {
            flex-direction: row;
            text-align: left;
        }
        li {
            padding: 10px;
            @media #{$md} {
                padding: 0 10px;
            }
            &:last-child {
                padding: 0;
            }
            a {
                color: var(--black);
            }
        }
    }
    .social-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        svg {
            margin: 5px 10px;
            width: 50px;
            height: 50px;
        }
    }
}
