body {
    font-family: Avenir;
}
//MAIN BANNER SECTIONS
.main-mobile-banner {
    background-color: var(--grey-light);
    height: calc(100vh - 70px);
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @media #{$md} {
        display: none;
    }
    .mobile-logo {
        margin-bottom: 30px;
    }
    
}
@-webkit-keyframes s {
    0% {
        -webkit-transform: scale3d(0,0,0);
                transform: scale3d(0,0,0);
    }
    80% {
        -webkit-transform: scale3d(1.125,1.125,1.125);
                transform: scale3d(1.125,1.125,1.125);
    }
    100% {
        -webkit-transform: scale3d(1,1,1);
                transform: scale3d(1,1,1);
    }
}
@keyframes s {
    0% {
        -webkit-transform: scale3d(0,0,0);
                transform: scale3d(0,0,0);
    }
    80% {
        -webkit-transform: scale3d(1.125,1.125,1.125);
                transform: scale3d(1.125,1.125,1.125);
    }
    100% {
        -webkit-transform: scale3d(1,1,1);
                transform: scale3d(1,1,1);
    }
}
@-webkit-keyframes swing {
    0% {
        -webkit-transform: rotateZ(0deg);
                transform: rotateZ(0deg);
    }
    15% {
        -webkit-transform: rotateZ(10deg);
                transform: rotateZ(10deg);
    }
    30% {
        -webkit-transform: rotateZ(-10deg);
                transform: rotateZ(-10deg);
    }
    45% {
        -webkit-transform: rotateZ(6deg);
                transform: rotateZ(6deg);
    }
    60% {
        -webkit-transform: rotateZ(-6deg);
                transform: rotateZ(-6deg);
    }
    75% {
        -webkit-transform: rotateZ(3deg);
                transform: rotateZ(3deg);
    }
    90% {
        -webkit-transform: rotateZ(-3deg);
                transform: rotateZ(-3deg);
    }
    100% {
        -webkit-transform: rotateZ(0deg);
                transform: rotateZ(0deg);
    }
}
@keyframes swing {
    0% {
        -webkit-transform: rotateZ(0deg);
                transform: rotateZ(0deg);
    }
    15% {
        -webkit-transform: rotateZ(10deg);
                transform: rotateZ(10deg);
    }
    30% {
        -webkit-transform: rotateZ(-10deg);
                transform: rotateZ(-10deg);
    }
    45% {
        -webkit-transform: rotateZ(6deg);
                transform: rotateZ(6deg);
    }
    60% {
        -webkit-transform: rotateZ(-6deg);
                transform: rotateZ(-6deg);
    }
    75% {
        -webkit-transform: rotateZ(3deg);
                transform: rotateZ(3deg);
    }
    90% {
        -webkit-transform: rotateZ(-3deg);
                transform: rotateZ(-3deg);
    }
    100% {
        -webkit-transform: rotateZ(0deg);
                transform: rotateZ(0deg);
    }
}
.mobile-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
            flex-direction: column;
    background-color: white;
    border-radius: 2rem;
    padding: 32px;
    -webkit-box-align: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: scale3d(0,0,0);
            transform: scale3d(0,0,0);
    -webkit-animation: 400ms s 250ms forwards;
            animation: 400ms s 250ms forwards;
    .logo-icon {
        width: 75px;
        margin: 0 auto 0;
        -webkit-transform: scale3d(0,0,0) rotateY(0deg);
                transform: scale3d(0,0,0) rotateY(0deg);
        -webkit-animation: 400ms s 400ms forwards, 800ms swing 700ms forwards;
                animation: 400ms s 400ms forwards, 800ms swing 700ms forwards;
    }
    .logo-text {
        width: 160px;
        margin: -1px auto 10px;
        -webkit-transform: scale3d(0,0,0);
                transform: scale3d(0,0,0);
        -webkit-animation: 400ms s 400ms forwards;
                animation: 400ms s 400ms forwards;
    }
    h1 {
        font-size: 1.2rem;
        margin: 0;
        text-transform: uppercase;
        font-style: italic;
    }
}
.app-store-btn {
    max-width: 150px;
}
/*MAIN HEADER*/
.main-banner {
    padding: 30px 0;
    background: white;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    @media #{$sm} {
        padding: 60px 0;
    }
    @media #{$md} {
        padding: 0;
        min-height: 630px;
        height: calc(100vh - 60px);
        max-height: 900px;
    }
    .row-grid {
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 60;
        justify-content: center;
        align-items: center;
        @media #{$sm} {
            grid-template-columns: 40% repeat(1, minmax(100px, 1fr));
            grid-gap: 100px;
        }
        @media #{$md} {
            grid-template-columns: 1fr 350px;
            grid-gap: 60px;
        }
        @media #{$lg} {
            grid-template-columns: 1fr 350px;
            grid-gap: 200px;
        }
    }
    .container {
        @media #{$md} {
            overflow: visible;
        }
    }
    header {
        margin-bottom: 60px;
        order: 2;
        text-align: center;
        @media #{$md} {
            margin-bottom: 0px;
            text-align: left;
            order: 0;
        }
    }
    h1 {
        font-size: 2.5em;
        color: var(--blue-light);
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 2px;
        @media #{$md} {
            font-size: 4.0em;
        }
        @media #{$lg} {
            font-size: 4.5em;
        }
    }
    span {
        color: var(--pink);
    }
}
@keyframes c {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}
.scroll-down {
    position: absolute;
    bottom: 55px;
    left: 0;
    right: 0;
    margin: auto;
    width: 55px;
    height: 55px;
    text-align: center;
    transform: translateY(0);
    animation: c 350ms infinite alternate;
    @media #{$md} { 
        bottom: 5px;
    }
    img {
        width: 36px;
        @media #{$md} { 
            width: 30px;
        }
    }
}

.mobile--container {
    margin: auto;
}
.mobile--outer-wrapper {
    border-radius: 40px;
    box-shadow: 0px 11px 61px #a9a9a9;
    overflow: hidden;
    position: relative;
    width: 230px;
    background: linear-gradient(180deg, #fff -45.17%, rgba(255, 255, 255, 0) 130.21%), #FAFBFC;
    box-shadow: 0 0.5px 2px rgba(0, 18, 57, .1), 0 11px 17px rgba(0, 18, 57, .09), inset 0 -3px 20px rgba(0, 18, 57, .1), inset 0 8px 13px #fff, inset 0 0 7px rgba(0, 18, 57, .05);
    padding: 10px;
    margin: 0 auto 40px auto;
    @media #{$md} {
        width: 280px;
        margin: 0;
    }
    @media #{$lg} {
        max-width: 310px;
        max-height: 600px;
        margin: 0;
    }
}
.mobile--inner-wrapper {
    border-radius: 36px;
    overflow: hidden;
    box-shadow: rgba(204, 208, 215, .5) 0 0 2px;
    -webkit-mask: url(../img/border-radius.png);
    mask: url(../img/border-radius.png);
        -webkit-mask-size: cover;
        -webkit-mask-position: 50%;
}
video {
    display: block;
    width: 100%;
}
.app-btn-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    .app-store-btn:first-child {
        margin-bottom: 15px;
    }
}

/*Press Section*/
.section-logos {
    text-align: center;
    position: relative;
    padding-top: 30px;
    background-color: var(--grey-light); 
    @media #{$md} { margin-top: 60px; }
}
.section-logos span {
    position: absolute;
    display: inline-block;
    top: -20px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #d8d8d8;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1;
    padding: 16px 0 12px;
    webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.35);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.35);
    border-radius: 0.5rem;
    width: 200px;
}
.logo-items {
    display: flex;
    flex-direction: column;
    .logo-item:nth-child(odd) {
        background-color: var(--grey-light);
    }
    .logo-item:nth-child(even) {
        background-color: white;
    }
    @media #{$md} {
        max-width: 1140px;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
        .logo-item:nth-child(odd) {
            background-color: transparent;
        }
        .logo-item:nth-child(even) {
            background-color: transparent;
        }
    }
    
}
.logo-item {
    padding: 30px;
    @media #{$md} {
        padding: 30px;
    }
}
.logo-item img {
    max-width: 100%;
}

/*Video Section*/
.person-left {
    position: absolute;
    width: 220px;
    z-index: 100;
    @media #{$md} {
        left: 5px;
        top: 165px;
    }
    @media #{$lg} {
        left: 25px;
        top: 185px;
    }
    >img {
        position: relative;
        max-width: 100%;
        z-index: 10;
    }
    .puzzle-pieces {
        top: -88px;
        left: -54px;
        transform: scale(0.2) rotateZ(5deg);
        display: block;
        width: 260px;
        height: 270px;
        z-index: 100;
    }
    @media #{$md} {
        &:after {
            display: block;
            content: "";
            position: absolute;
            top: 510px;
            width: 120px;
            height: 20px;
            border-radius: 40px;
            background: rgba(0, 0, 0, 0.40);
            filter: blur(14px);
        }
    }
}
.person-right {
    position: absolute;
    
    width: 220px;
    z-index: 100;
    @media #{$md} {
        right: 5px;
        top: 165px;
    }
    @media #{$lg} {
        right: 25px;
        top: 185px;
    }
    >img {
        position: relative;
        max-width: 100%;
        z-index: 10;
    }
    .puzzle-pieces {
        top: -56px;
        right: -65px;
        transform: scale(0.2) rotateZ(-7deg);
        display: block;
        width: 260px;
        height: 270px;
        z-index: 100;
    }
    @media #{$md} {
        &:after {
            display: block;
            content: "";
            position: absolute;
            top: 510px;
            right: 0;
            width: 120px;
            height: 20px;
            border-radius: 40px;
            background: rgba(0, 0, 0, 0.40);
            filter: blur(14px);
        }
    }
}
.puzzle-pieces {
    position: absolute;
    
}
img[class*="puzzle-piece-"] {
    position: absolute;
    opacity: 1!important;
    visibility: visible!important;
}
@keyframes example {
    from   {transform: scale(1)}
    to {transform: scale(0)}
}
/*  First Row  */
.puzzle-piece-1 { left: 0px; top:0px;}
.puzzle-piece-2 { left: 60px; top: 0px; }
.puzzle-piece-3 { left: 100px; top: 0px; }
.puzzle-piece-4 { left: 180px; top: 0px; }

/*  Second Row  */
.puzzle-piece-5 { left: 0px; top: 43px; }
.puzzle-piece-6 { left: 41px; top: 65px;}
.puzzle-piece-7 { left: 118px; top: 45px;}
.puzzle-piece-8 { left: 162px; top: 64px; }

/*  Third Row  */
.puzzle-piece-9 { left: 0px; top: 127px; }
.puzzle-piece-10 { left: 58px; top: 104px;}
.puzzle-piece-11 { left: 100px; top: 122px; }
.puzzle-piece-12 { left: 178px; top: 107px; }

/*  Fourth Row  */
.puzzle-piece-13 { left: 0px; top: 168px;}
.puzzle-piece-14 { left: 42px; top: 187px;}
.puzzle-piece-15 { left: 119px; top: 167px; }
.puzzle-piece-16 { left: 162px; top: 187px;}

.puzzle-piece-1.is-visible  { left: 0px; top: 0px; animation: example 350ms 350ms forwards; }
.puzzle-piece-2.is-visible  { left: 60px; top: 0px; animation: example 350ms calc(350ms*5) forwards; }
.puzzle-piece-3.is-visible  { left: 100px; top: 0px; animation: example 350ms calc(350ms*7) forwards; }
.puzzle-piece-4.is-visible  { left: 180px; top: 0px; animation: example 350ms calc(350ms*11) forwards; }

/*  Second Row  */
.puzzle-piece-5.is-visible  { left: 0px; top: 43px; animation: example 350ms calc(350ms*16) forwards;}
.puzzle-piece-6.is-visible  { left: 41px; top: 65px; animation: example 350ms calc(350ms*2) forwards;}
.puzzle-piece-7.is-visible  { left: 118px; top: 45px; animation: example 350ms calc(350ms*8) forwards;}
.puzzle-piece-8.is-visible  { left: 162px; top: 64px; animation: example 350ms calc(350ms*10) forwards;}

/*  Third Row  */
.puzzle-piece-9.is-visible  { left: 0px; top: 127px; animation: example 350ms calc(350ms*13) forwards;}
.puzzle-piece-10.is-visible { left: 58px; top: 104px; animation: example 350ms calc(350ms*6) forwards;}
.puzzle-piece-11.is-visible  { left: 100px; top: 122px; animation: example 350ms calc(350ms*12) forwards;}
.puzzle-piece-12.is-visible  { left: 178px; top: 107px; animation: example 350ms calc(350ms*15) forwards;}

/*  Fourth Row  */
.puzzle-piece-13.is-visible { left: 0px; top: 168px; animation: example 350ms calc(350ms*4) forwards;}
.puzzle-piece-14.is-visible { left: 42px; top: 187px; animation: example 350ms calc(350ms*9) forwards;}
.puzzle-piece-15.is-visible { left: 119px; top: 167px; animation: example 350ms calc(350ms*14) forwards;}
.puzzle-piece-16.is-visible { left: 162px; top: 187px; animation: example 350ms calc(350ms*3) forwards;}

.section-video {
    padding: 60px 0;
    img {
        display: none;
        @media #{$md} {
            display: block;
        }
    }
}

.video-container {
    width: 100%;
    margin: auto;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0.5px 2px rgba(0, 18, 57, .1), 0 11px 17px rgba(0, 18, 57, .09), inset 0 -3px 20px rgba(0, 18, 57, .1), inset 0 8px 13px #fff, inset 0 0 7px rgba(0, 18, 57, .05);
    @media #{$md} {
        width: 900px;
    }
}

/*End of page*/
.section-end {
    padding: 80px 0 60px 0;
    background-color: var(--grey-light);
    display: none;
    position: relative;
    @media #{$md} {
        display: block;
    }
    .row-grid {
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 60px;
        justify-content: center;
        align-items: center;
        text-align: center;
        @media #{$md} {
            text-align: left;
            grid-template-columns: 200px 600px;
            grid-gap: 100px;
        }
    }
    .logo {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        width: 250px;
        margin: auto;
        @media #{$md} {
            margin: 0
        }
        .logo-icon {
            width: 75px;
            margin: 0 auto 0;
        }
        .logo-text {
            width: 160px;
            margin: -1px auto 10px;
        }
    }
    
}

/*Footer*/
footer {
    border-top: 2px solid var(--black);
    padding: 15px 0;
    position: relative;
    background-color: var(--grey-light);
    @media #{$md} {
        background-color: white;
    }
    &:before {
        content: "";
        display: block;
        height: 1px;
        width: 100%;
        background: url(https://jigtalk.com/wp-content/themes/jigtalk-co/dist/images/images/navigation-border.png);
        background-size: 60%;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    ul {
        justify-content: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
        @media #{$md} {
            flex-direction: row;
            text-align: left;
        }
        li {
            padding: 5px 0;
            @media #{$md} {
                padding: 0 10px;
            }
            a {
                color: var(--grey-dark);
                @media #{$md} {
                    color: var(--black);
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 0.9rem;
                }
                &:hover {
                    color: var(--blue);
                    text-decoration: none;
                }
            }
            &:after {
                content: "/";
                padding: 5px;
                @media #{$md} {
                    content: none;
                    padding: 0 10px;
                }
            }
        }
        li:last-child {
            &:after {
                content: " ";
                padding: 0px;
                @media #{$md} {
                    content: none;
                    padding: 0 10px;
                }
            }
        }
        
    }
    .social-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 10px 0;
        svg {
            margin: 5px 10px;
            width: 50px;
            height: 50px;
        }
    }
}
