/*NAV*/
/* line 3, ../sass/_nav.scss */
nav {
  padding: 15px 0;
  display: flex;
  justify-items: center;
}
/* line 7, ../sass/_nav.scss */
nav .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* line 13, ../sass/_nav.scss */
nav .logo {
  width: 150px;
}
/* line 16, ../sass/_nav.scss */
nav .links-wrapper {
  display: none;
  justify-self: flex-start;
  margin-left: auto;
  align-items: center;
}
@media only screen and (min-width: 992px) {
  /* line 16, ../sass/_nav.scss */
  nav .links-wrapper {
    display: flex;
  }
}
/* line 24, ../sass/_nav.scss */
nav .links-wrapper ul {
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  display: flex;
  list-style: none;
  text-align: center;
}
/* line 34, ../sass/_nav.scss */
nav ul {
  list-style: none;
  margin: auto;
  padding: 0;
  align-self: center;
  display: flex;
  list-style: none;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  /* line 34, ../sass/_nav.scss */
  nav ul {
    margin-left: auto;
    margin-right: 10px;
  }
}
/* line 46, ../sass/_nav.scss */
nav ul li {
  padding: 10px;
}
/* line 48, ../sass/_nav.scss */
nav ul li a {
  font-weight: bold;
  font-size: 0.9em;
  text-transform: uppercase;
}
/* line 55, ../sass/_nav.scss */
nav button.navbar-toggler {
  border-radius: 0.5rem;
  border: 1px solid #ddd;
  justify-self: flex-end;
  margin-left: auto;
}
@media only screen and (min-width: 992px) {
  /* line 55, ../sass/_nav.scss */
  nav button.navbar-toggler {
    display: none;
  }
}
/* line 64, ../sass/_nav.scss */
nav .social-icons {
  display: flex;
  justify-content: center;
}
/* line 67, ../sass/_nav.scss */
nav .social-icons svg {
  margin: 0 5px;
}

/* line 1, ../sass/_content.scss */
:root {
  --blue: #3078f2;
  --pink: #ff6ba3;
  --red: #f0404a;
  --blue-light: #8de7fd;
}

/* Font */
@font-face {
  font-family: Avenir;
  src: url(AvenirLTStd-Roman.otf);
  font-weight: normal;
}
@font-face {
  font-family: Avenir;
  src: url(AvenirLTStd-Black.otf);
  font-weight: bold;
}
/* line 22, ../sass/_content.scss */
body {
  font-family: Avenir;
}

/*Icon Loader*/
@-webkit-keyframes a {
  0%,
    to {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
@keyframes a {
  0%,
    to {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
@keyframes o {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* line 64, ../sass/_content.scss */
.loader-container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #fff;
  display: block;
  z-index: 50;
  opacity: 1;
  visibility: visible;
  animation: o 4.3s forwards ease-in-out;
}

/* line 78, ../sass/_content.scss */
.loader {
  width: 54px;
  height: 54px;
  position: relative;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 90, ../sass/_content.scss */
.loader img {
  position: absolute;
  -webkit-animation: a 1.3s infinite ease-in-out;
  animation: a 1.3s infinite ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

/* line 99, ../sass/_content.scss */
.loader img:nth-child(4n+1) {
  left: 0;
  top: 0;
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
}

/* line 106, ../sass/_content.scss */
.loader img:nth-child(4n+2) {
  left: 24px;
  top: 4px;
  -webkit-animation-delay: .75s;
  animation-delay: .75s;
}

/* line 113, ../sass/_content.scss */
.loader img:nth-child(4n+3) {
  top: 27px;
  left: 14px;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

/* line 120, ../sass/_content.scss */
.loader img:nth-child(4n+4) {
  top: 16px;
  left: -4px;
  -webkit-animation-delay: 1.25s;
  animation-delay: 1.25s;
}

/*MAIN HEADER*/
/* line 129, ../sass/_content.scss */
.main-banner {
  padding: 30px 0;
  background: #f2f4f6;
  overflow: hidden;
}
@media only screen and (min-width: 992px) {
  /* line 129, ../sass/_content.scss */
  .main-banner {
    padding: 100px 0;
  }
}
/* line 136, ../sass/_content.scss */
.main-banner .row-grid {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 60;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 992px) {
  /* line 136, ../sass/_content.scss */
  .main-banner .row-grid {
    grid-template-columns: 40% repeat(1, minmax(100px, 1fr));
    grid-gap: 100px;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 136, ../sass/_content.scss */
  .main-banner .row-grid {
    grid-template-columns: 1fr 350px;
    grid-gap: 200px;
  }
}
@media only screen and (min-width: 992px) {
  /* line 151, ../sass/_content.scss */
  .main-banner .container {
    overflow: visible;
  }
}
/* line 156, ../sass/_content.scss */
.main-banner header {
  margin-bottom: 60px;
  order: 2;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  /* line 156, ../sass/_content.scss */
  .main-banner header {
    margin-bottom: 0px;
    text-align: left;
    order: 0;
  }
}
/* line 166, ../sass/_content.scss */
.main-banner h1 {
  font-size: 7vh;
  color: var(--blue-light);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}
@media only screen and (min-width: 992px) {
  /* line 166, ../sass/_content.scss */
  .main-banner h1 {
    font-size: 4.5em;
  }
}
/* line 176, ../sass/_content.scss */
.main-banner span {
  color: var(--pink);
}

/*Form*/
/* line 182, ../sass/_content.scss */
.app-download--container {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 200px));
  grid-gap: 15px;
  justify-content: center;
}
@media only screen and (min-width: 1200px) {
  /* line 182, ../sass/_content.scss */
  .app-download--container {
    display: none;
  }
}

/* line 191, ../sass/_content.scss */
.download-form {
  display: none;
}
@media only screen and (min-width: 1200px) {
  /* line 191, ../sass/_content.scss */
  .download-form {
    display: block;
  }
}

/* line 198, ../sass/_content.scss */
form {
  display: flex;
  width: 100%;
  max-width: 500px;
  margin: auto;
  flex-direction: row;
  margin: 0;
}

/* line 207, ../sass/_content.scss */
form input.input--phone-number {
  width: 100%;
  border: 0;
  border-radius: 1em;
  padding: 10px 15px;
  margin-bottom: 10px;
}
@media only screen and (min-width: 1200px) {
  /* line 207, ../sass/_content.scss */
  form input.input--phone-number {
    margin-right: 10px;
    margin-bottom: 0;
    width: 400px;
  }
}
/* line 218, ../sass/_content.scss */
form input.input--phone-number:focus {
  background-color: #dddddd;
  outline: 0;
}
/* line 222, ../sass/_content.scss */
form input.input--phone-number.grey-bg {
  background-color: #f2f4f6;
}
/* line 224, ../sass/_content.scss */
form input.input--phone-number.grey-bg:focus {
  background-color: #dddddd;
  outline: 0;
}

/* line 231, ../sass/_content.scss */
form button {
  border-radius: 1em;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-style: italic;
  padding: 15px 35px;
  text-transform: uppercase;
  border: 0;
  box-shadow: 0px 3px 21px #007bff;
  transition: 0.3s box-shadow ease;
}

/* line 245, ../sass/_content.scss */
form button:hover {
  background-color: #006fe6;
  box-shadow: 0px 1px 10px #006fe6;
}

/* line 250, ../sass/_content.scss */
.mobile--container {
  margin: auto;
}

/* line 254, ../sass/_content.scss */
.mobile--outer-wrapper {
  border-radius: 40px;
  box-shadow: 0px 11px 61px #a9a9a9;
  overflow: hidden;
  position: relative;
  width: 230px;
  background: linear-gradient(180deg, #fff -45.17%, rgba(255, 255, 255, 0) 130.21%), #FAFBFC;
  box-shadow: 0 0.5px 2px rgba(0, 18, 57, 0.1), 0 11px 17px rgba(0, 18, 57, 0.09), inset 0 -3px 20px rgba(0, 18, 57, 0.1), inset 0 8px 13px #fff, inset 0 0 7px rgba(0, 18, 57, 0.05);
  padding: 10px;
  margin: 20px auto;
}
@media only screen and (min-width: 992px) {
  /* line 254, ../sass/_content.scss */
  .mobile--outer-wrapper {
    width: 310px;
    margin: 0;
  }
}

/* line 270, ../sass/_content.scss */
.mobile--inner-wrapper {
  border-radius: 36px;
  overflow: hidden;
  box-shadow: rgba(204, 208, 215, 0.5) 0 0 2px;
}

/* line 276, ../sass/_content.scss */
video {
  display: block;
  width: 100%;
}

/* line 281, ../sass/_content.scss */
.mobile--bg {
  display: none;
}
@media only screen and (min-width: 992px) {
  /* line 281, ../sass/_content.scss */
  .mobile--bg {
    display: block;
    position: absolute;
    left: -210px;
    top: 40px;
    width: 730px;
    margin: auto;
  }
}

/* line 293, ../sass/_content.scss */
.profile-circle {
  position: absolute;
  object-position: center;
  object-fit: cover;
  border-radius: 50%;
}

/* line 300, ../sass/_content.scss */
.profile-pic--1 {
  width: 55px;
  height: 55px;
  top: 86px;
  left: 20px;
  box-shadow: 0px 11px 50px rgba(238, 65, 72, 0.5);
}
@media only screen and (min-width: 992px) {
  /* line 300, ../sass/_content.scss */
  .profile-pic--1 {
    top: 86px;
    left: -40px;
  }
}

/* line 312, ../sass/_content.scss */
.profile-pic--2 {
  width: 80px;
  height: 80px;
  top: 90px;
  left: -80px;
  box-shadow: 0px 11px 50px rgba(48, 119, 240, 0.5);
}
@media only screen and (min-width: 992px) {
  /* line 312, ../sass/_content.scss */
  .profile-pic--2 {
    top: 90px;
    left: -140px;
  }
}

/* line 324, ../sass/_content.scss */
.profile-pic--3 {
  width: 60px;
  height: 60px;
  top: 160px;
  left: -10px;
  box-shadow: 0px 11px 50px rgba(141, 231, 253, 0.65);
}
@media only screen and (min-width: 992px) {
  /* line 324, ../sass/_content.scss */
  .profile-pic--3 {
    top: 160px;
    left: -53px;
  }
}

/* line 336, ../sass/_content.scss */
.profile-pic--4 {
  width: 50px;
  height: 50px;
  top: 190px;
  left: -80px;
  box-shadow: 0px 11px 50px rgba(238, 65, 72, 0.5);
}
@media only screen and (min-width: 992px) {
  /* line 336, ../sass/_content.scss */
  .profile-pic--4 {
    top: 190px;
    left: -130px;
  }
}

/* line 348, ../sass/_content.scss */
.profile-pic--5 {
  width: 50px;
  height: 50px;
  top: 360px;
  left: -45px;
  box-shadow: 0px 11px 50px rgba(48, 119, 240, 0.5);
}
@media only screen and (min-width: 992px) {
  /* line 348, ../sass/_content.scss */
  .profile-pic--5 {
    top: 360px;
    left: -45px;
  }
}

/* line 360, ../sass/_content.scss */
.profile-pic--6 {
  width: 55px;
  height: 55px;
  top: 373px;
  left: -110px;
  box-shadow: 0px 11px 50px rgba(141, 231, 253, 0.65);
  display: none;
}
@media only screen and (min-width: 992px) {
  /* line 360, ../sass/_content.scss */
  .profile-pic--6 {
    display: block;
    top: 383px;
    left: -110px;
  }
}

/* line 374, ../sass/_content.scss */
.profile-pic--7 {
  width: 50px;
  height: 50px;
  top: 437px;
  left: -10px;
  box-shadow: 0px 11px 50px rgba(238, 65, 72, 0.5);
  display: none;
}
@media only screen and (min-width: 992px) {
  /* line 374, ../sass/_content.scss */
  .profile-pic--7 {
    display: block;
    top: 437px;
    left: -60px;
  }
}

/* line 388, ../sass/_content.scss */
.profile-pic--8 {
  width: 45px;
  height: 45px;
  top: 225px;
  right: 0px;
  box-shadow: 0px 11px 50px rgba(238, 65, 72, 0.5);
}
@media only screen and (min-width: 992px) {
  /* line 388, ../sass/_content.scss */
  .profile-pic--8 {
    top: 225px;
    right: 0px;
  }
}

/* line 400, ../sass/_content.scss */
.profile-pic--9 {
  width: 45px;
  height: 45px;
  top: 233px;
  right: -70px;
  box-shadow: 0px 11px 50px rgba(48, 119, 240, 0.5);
}
@media only screen and (min-width: 992px) {
  /* line 400, ../sass/_content.scss */
  .profile-pic--9 {
    top: 233px;
    right: -70px;
  }
}

/* line 412, ../sass/_content.scss */
.profile-pic--10 {
  width: 55px;
  height: 55px;
  top: 293px;
  right: -34px;
  box-shadow: 0px 11px 50px rgba(141, 231, 253, 0.65);
}
@media only screen and (min-width: 992px) {
  /* line 412, ../sass/_content.scss */
  .profile-pic--10 {
    top: 293px;
    right: -34px;
  }
}

/* line 424, ../sass/_content.scss */
.profile-pic--11 {
  width: 66px;
  height: 66px;
  top: 353px;
  right: -90px;
  box-shadow: 0px 11px 50px rgba(238, 65, 72, 0.5);
}
@media only screen and (min-width: 992px) {
  /* line 424, ../sass/_content.scss */
  .profile-pic--11 {
    top: 353px;
    right: -90px;
  }
}

/* line 436, ../sass/_content.scss */
.profile-pic--12 {
  width: 60px;
  height: 60px;
  top: 363px;
  right: 60px;
  box-shadow: 0px 11px 50px rgba(48, 119, 240, 0.5);
}
@media only screen and (min-width: 992px) {
  /* line 436, ../sass/_content.scss */
  .profile-pic--12 {
    top: 363px;
    right: 0px;
  }
}

/*Logo Section*/
/* line 450, ../sass/_content.scss */
.section-logos {
  padding: 60px 0;
  text-align: center;
}

/* line 455, ../sass/_content.scss */
.section-logos h2 {
  font-weight: bold;
  margin-bottom: 30px;
}

/* line 460, ../sass/_content.scss */
.logo-items {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 992px) {
  /* line 460, ../sass/_content.scss */
  .logo-items {
    flex-direction: row;
  }
}

/* line 468, ../sass/_content.scss */
.logo-item {
  padding: 30px;
}
@media only screen and (min-width: 992px) {
  /* line 468, ../sass/_content.scss */
  .logo-item {
    padding: 30px;
  }
}

/* line 475, ../sass/_content.scss */
.logo-item img {
  max-width: 100%;
}

/*Video Section*/
/* line 481, ../sass/_content.scss */
.section-video {
  padding: 60px 0;
  background-color: var(--pink);
}
/* line 484, ../sass/_content.scss */
.section-video img {
  display: none;
}
@media only screen and (min-width: 992px) {
  /* line 484, ../sass/_content.scss */
  .section-video img {
    display: block;
  }
}

/* line 492, ../sass/_content.scss */
.video-container {
  width: 100%;
  margin: auto;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 0.5px 2px rgba(0, 18, 57, 0.1), 0 11px 17px rgba(0, 18, 57, 0.09), inset 0 -3px 20px rgba(0, 18, 57, 0.1), inset 0 8px 13px #fff, inset 0 0 7px rgba(0, 18, 57, 0.05);
}
@media only screen and (min-width: 992px) {
  /* line 492, ../sass/_content.scss */
  .video-container {
    width: 900px;
  }
}

/*End of page*/
/* line 505, ../sass/_content.scss */
.section-end {
  padding: 60px 0;
}
/* line 507, ../sass/_content.scss */
.section-end .row-grid {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 60px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  /* line 507, ../sass/_content.scss */
  .section-end .row-grid {
    text-align: left;
    grid-template-columns: 200px 600px;
    grid-gap: 100px;
  }
}
/* line 520, ../sass/_content.scss */
.section-end .logo {
  width: 250px;
  margin: auto;
}
@media only screen and (min-width: 992px) {
  /* line 520, ../sass/_content.scss */
  .section-end .logo {
    margin: 0;
  }
}

/*Footer*/
/* line 531, ../sass/_content.scss */
footer {
  padding: 60px;
  background: #f2f2f2;
  position: relative;
}
/* line 535, ../sass/_content.scss */
footer:before {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background: url(https://jigtalk.com/wp-content/themes/jigtalk-co/dist/images/images/navigation-border.png);
  background-size: 50%;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 546, ../sass/_content.scss */
footer ul {
  justify-content: center;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  /* line 546, ../sass/_content.scss */
  footer ul {
    flex-direction: row;
    text-align: left;
  }
}
/* line 558, ../sass/_content.scss */
footer ul li {
  padding: 10px;
}
@media only screen and (min-width: 992px) {
  /* line 558, ../sass/_content.scss */
  footer ul li {
    padding: 0 10px;
  }
}
/* line 563, ../sass/_content.scss */
footer ul li:last-child {
  padding: 0;
}
/* line 568, ../sass/_content.scss */
footer .social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
/* line 573, ../sass/_content.scss */
footer .social-icons svg {
  margin: 5px 10px;
  width: 50px;
  height: 50px;
}

/*Buttons*/
/* line 583, ../sass/_content.scss */
.btn-download {
  border-radius: 2em;
  background-color: #007bff;
  color: white;
  font-weight: bold;
  font-style: italic;
  padding: 15px 35px;
  text-transform: uppercase;
}
